.card{
    width: 300px;
    height: 350px;
   background-color:  #96afcc8c;
   border-radius: 10px;
   margin-left: 20px;
   padding: 10px;
   object-fit: cover;
}
.create-button{
    padding: 8px  ;
    margin: 10px;
    border-radius: 10px;

}
.image{
    width: 100%;
    height: 170px;
    border-radius: 5px;
}
.blog-desc{
    position: relative;
    max-height: 45px;
    overflow: hidden;
}
